<!DOCTYPE html>

<html lang="en">
<head>
	<title>Cyber Snowmen Header & Footer Template</title>
	<!-- Meta tag for description -->
	<meta name="description" content="header and footer">
	<!-- Meta tag for author -->
	<meta name="author" content="Cyber Snowmen">
	<!-- Meta tag for character encoding -->
	<meta charset="utf-8">
	<!-- External Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='header_footer.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='EventInfo.css') }}">
	<script src="{{ url_for('static', filename='EventInfo.js') }}"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>

<body>
	<div class="wrapper">
		<header>
			<!-- Header contents -->
			<a href="#" class="page-title">Event Information</a>
			<!-- Header navigation -->
			<div class="nav-right">
				<a href="{{url_for('index') }}">Home</a>
				<a href="{{url_for('my_events') }}">My Events</a>
				<a href="{{url_for('favorite_events') }}">Favorites</a>
				<a href="{{url_for('new_event') }}" >Create Event</a>
				{% if user%}
					<a href = "{{url_for('logout') }}">Logout</a>
				{%else%}
					<a href = "{{url_for('login') }}">Sign in</a>
					<a href = "{{url_for('register') }}">Register</a>
				{% endif%}	
			</div>
		</header>		<!-- END HEADER - COPY FRIENDLY!-->
	

	<main>
		{% with messages = get_flashed_messages() %}
  			{% if messages %}
    			{% for message in messages %}
      				<dialog open id="messages">
              			{{ message }}
                		<button onclick="window.messages.close();">Close</button>
          			</dialog>
    			{% endfor %}
  			{% endif %}
		{% endwith %}

		<h1>{{event.name}} Details</h1>
		<img class = "event_image" src="{{ url_for('static', filename='Images/' + event.filename) }}">
        <table>
            <tr>
                <th>Description</th>
                <th>Date</th>
                <th>Created by</th>
                <th>Rating</th>
				<th>Number of Favorites</th>
            </tr>
            <tr>
                <td>{{ event.desc }}</td>
                <td>{{ event.date }}</td>
                <td>{{ event.user}}</td>
                <td>{{ event.rating}}</td>
				<td>{{ event.likes}}</td>
            </tr>
        </table>

		{% if event.comments %}
  {% if event.comments|length > 0 %}
   <h2>Comments</h2>
   <ul>
   {% for comment in event.comments %}
	<h2>{{ comment.first_name }} Says:</h2>
    <li>{{ comment.content }}</li>
   {% endfor %}
   </ul>
  {% endif %}
          {% endif %}


      <form method = "post">
          <input type="submit" name="favorite" value="Favorite" /> ||
  		  <input type="submit" name="unfavorite" value="Unfavorite" /> ||
		  <input type="submit" name ="rsvp" value="RSVP" /> ||
		  <input type="submit" name ="un-rsvp" value="Un-RSVP" /> ||
		  <input type="submit" name ="report" value="report" />
 
      </form>
	  <br><br>
	<form class="rating" method="POST" id="rating" name ="rate">
		
		<input type="radio" id="rating1" name="rating" value="1">
		<label id="1" title="Poor" class="fa fa-star" for="rating1"></label>
		
		<input type="radio" id="rating2" name="rating" value="2">
		<label id="2" title="Average" class="fa fa-star" for="rating2"></label>
		
		
		<input type="radio" id="rating3" name="rating" value="3">
		<label id="3" title="Average" class="fa fa-star" for="rating3"></label>
			
		
		<input type="radio" id="rating4" name="rating" value="4">
		<label id="4" title="Good" class="fa fa-star" for="rating4"></label>
		
		
		<input type="radio" id="rating5" name="rating" value="5">
		<label id="5" title="Awesome" class="fa fa-star" for="rating5"></label>
		<button type="submit" form="rating" value="Submit">Rate Event</button>
	</form> 
		<br>

		{% if form %}
   <form method="post">
      <div class="formwrapper">
      <h2 class="title">Add a comment</h2>
      <div class="form-field">
         {{ form.comment.label }} <br/> {{ form.comment }}
      </div>
         {{ form.submit }}
      </div>
   </form>
{% endif %}

	</main>

	<footer>
		<!-- Footer contents -->
		<div class="botnav">
			<!-- Footer navigation -->
			<nav class="nav-ul">
				<ul>
					<li><a href="{{url_for('index') }}">Home</a></li>
					<li><a href="{{url_for('my_events') }}">My Events</a></li>
					<li><a href="{{url_for('favorite_events') }}">Favorites</a></li>
					<li><a href="{{url_for('new_event') }}" >Create Event</a></li>
					{% if user%}
						<li>
							<a href = "{{url_for('logout') }}">Logout</a>
						</li>
						{%else%}
						<li><a href = "{{url_for('login') }}">Sign in</a></li>
						<li><a href = "{{url_for('register') }}">Register</a></li>
						{% endif%}
				</ul>
			</nav>
			<!-- Copyright -->
			<p id="copyright">&copy; Snowmen Gang 2021</p>
		</div>
	</footer>
	</div>
</body>
</html>
