<!DOCTYPE html>

<html lang="en">
<head>
	<title>Cyber Snowmen Header & Footer Template</title>
	<!-- Meta tag for description -->
	<meta name="description" content="header and footer">
	<!-- Meta tag for author -->
	<meta name="author" content="Cyber Snowmen">
	<!-- Meta tag for character encoding -->
	<meta charset="utf-8">
	<!-- External Stylesheet -->
	<link rel="stylesheet" href="{{ url_for('static', filename='header_footer.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='EventInfo.css') }}">
</head>

<body>
	<div class="wrapper">
		<header><!-- Header contents -->
			<div class="topnav">
				<a href="#" class="page-title">Homepage</a>
				<!-- Header navigation -->
				<nav class="nav-ul">
					<ul class="nav-ul-center">
						<li><a href="{{url_for('index') }}">Home</a></li>
						<li><a href="{{url_for('my_events') }}">My Events</a></li>
						<li><a href="{{url_for('favorite_events') }}">Favorites</a></li>
						<li><a href="{{url_for('new_event') }}" >Create Event</a></li>
						{% if user%}
						<li>
							<a href = "{{url_for('logout') }}">Logout</a>
						</li>
						{%else%}
						<li><a href = "{{url_for('login') }}">Sign in</a></li>
						<li><a href = "{{url_for('register') }}">Register</a></li>
						{% endif%}

					</ul>
				</nav>
			</div>
		</header>		<!-- END HEADER - COPY FRIENDLY!-->


	<main>
		<h1>My Favorites</h1>
        <br>
        {% for event in events %}
            <h2><a href="{{ url_for('get_event', e_id=event.event_id )}}">{{event.name}} Details</a></h2>
            <table>
                <tr>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Created by</th>
                    <th>Rating</th>
                    <th>Favorties</th>
                </tr>
                <tr>
                    <td>{{ event.desc }}</td>
                    <td>{{ event.date }}</td>
                    <td>{{ event.user }}</td>
                    <td>{{ event.rating }}</td>
                    <td>{{ event.likes }}</td>
					<td>
					</td>
                </tr>
            </table>
            <br>
        {% endfor %}
	</main>

	<footer>
		<!-- Footer contents -->
		<div class="botnav">
			<!-- Footer navigation -->
			<nav class="nav-ul">
				<ul>
					<li><a href="{{url_for('index') }}">Home</a></li>
					<li><a href="{{url_for('my_events') }}">My Events</a></li>
					<li><a href="{{url_for('favorite_events') }}">Favorites</a></li>
					<li><a href="{{url_for('new_event') }}" >Create Event</a></li>
					{% if user%}
						<li>
							<a href = "{{url_for('logout') }}">Logout</a>
						</li>
						{%else%}
						<li><a href = "{{url_for('login') }}">Sign in</a></li>
						<li><a href = "{{url_for('register') }}">Register</a></li>
						{% endif%}
				</ul>
			</nav>
			<!-- Copyright -->
			<p id="copyright">&copy; Snowmen Gang 2021</p>
		</div>
	</footer>
	</div>
</body>
</html>