<!DOCTYPE html>

<html lang="en">
<head>
	<title>Cyber Snowmen Header & Footer Template</title>
	<!-- Meta tag for description -->
	<meta name="description" content="header and footer">
	<!-- Meta tag for author -->
	<meta name="author" content="Cyber Snowmen">
	<!-- Meta tag for character encoding -->
	<meta charset="utf-8">
	<!-- External Stylesheet -->
	<link rel="stylesheet" type="text/css" href="../Static/header_footer.css"> <!-- Change href to url_for -->
</head>

<body>
	<div class="wrapper">
	<header>
		<div class="topnav">
			<nav class="nav-ul">
				<a href="#" class="page-title">[PAGE TITLE HERE]</a>
				<ul class="nav-ul-center">
					<li><a href="#">Home</a></li>
					<li><a href="#">My Events</a></li>
					<li><a href="#">Favorites</a></li>
				</ul>
				<!-- <ul class="nav-ul-right">
					<li><a href="#">Create Event</a></li>
					<li><a href="#">User Login</a></li>
					<li><a href="#">Create </a></li>
				</ul> -->
			</nav>

		</div>
	</header>

	<main>
		<p>[empty]</p>
	</main>

	<footer>

	</footer>
	</div>
</body>
</html>
