<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="UNCC Notes App">
        <title>UNCC Notes App</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='Home.css') }}">

        <nav>

		<a href="/index"> Home </a> |
		<a href="/register"> Register</a>

	    </nav>
    </head>
    <body>

        <h1>Welcome {{user.full_name}} to the 49er Events App!</h1>

        <h2>Use this site to create and RSVP to nearby events.</h2>
        <h1>
            <form method = "post">
                Search for event: <input type = "text" name = "event" />
                <input type = "submit" value = "Search" />
            </form>
        </h1>

        <h3>Course notes</h3>

        <h3>To Do</h3>

        <h3>Work notes</h3>

    </body>
</html>