<!DOCTYPE html>

<html lang="en">
<head>
	<title>Homepage</title>
	<!-- Meta tag for description -->
	<meta name="description" content="header and footer">
	<!-- Meta tag for author -->
	<meta name="author" content="Cyber Snowmen">
	<!-- Meta tag for character encoding -->
	<meta charset="utf-8">
	<!-- External Stylesheet -->
	<link rel="stylesheet" href="{{ url_for('static', filename='header_footer.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='Home.css') }}">
</head>

<body>
	<div class="wrapper">
		<header>
			
			<!-- Header contents -->
			<a href="#" class="page-title">Home Page</a>
			<!-- Header navigation -->
			<div class="nav-right">
				<a href="{{url_for('index') }}">Home</a>
				<a href="{{url_for('my_events') }}">My Events</a>
				<a href="{{url_for('favorite_events') }}">Favorites</a>
				<a href="{{url_for('new_event') }}" >Create Event</a>
				{% if user%}
					<a href = "{{url_for('logout') }}">Logout</a>
				{%else%}
					<a href = "{{url_for('login') }}">Sign in</a>
					<a href = "{{url_for('register') }}">Register</a>
				{% endif%}	
			</div>
		</header>		<!-- END HEADER - COPY FRIENDLY!-->

	<main>
		{% with messages = get_flashed_messages() %}
  			{% if messages %}
    			{% for message in messages %}
      				<dialog open id="messages">
              			{{ message }}
                		<button onclick="window.messages.close();">Close</button>
          			</dialog>
    			{% endfor %}
  			{% endif %}
		{% endwith %}
		<aside>
			<div id="notif">
				<h1>Notifications</h1>
				<h5>(Click notification to dismiss)</h5>
				<hr>
				{% if user %}
				<!--Sets notifications-->
					{% if notification %}
					<table id="notifTable">
						{% for notifications in notification %}
						<tr><td>
						<!--Makes table cells clickable, which 'dismisses' the notification, deleting it from the database-->
						<a href="{{ url_for('deleteNotification', notification_id=notifications.notification_id) }}">
							<div id="notifTableCell">
							{{notifications.user_name_performed_first}} {{notifications.user_name_performed_last}} has {{notifications.notification_action}} {{notifications.event_name}}
							</div>
						</a>
						</td></tr>
						{% endfor %}
					</table>
					{% endif %}
				{% else %}
					<p>Please login to view notifications!</p>
				{% endif %}
			</div>
		</aside>

		<h1>Welcome {% if user %}{{user}}{% endif %} to Meetup 2!</h1>

        <h2>Use this site to create and RSVP to nearby events.</h2>
        <h1>
            <form method = "post">
                Search for event: <input type = "text" name = "event" />
                <input type = "submit" value = "Search" />
            </form>
        </h1>
		<h1 class="list-events-h1">List of Events</h1>
		<!-- Event listing, implementation currently same as flask activity-->
		<form class="sort" method = "post" style="text-align:center">		
			<input type="submit" name="sortNameASC" value="Sort By Event Name (A-Z)" /> || 
			<input type="submit" name="sortNameDESC" value="Sort By Event Name (Z-A)" /> 
		</form>

		<form class="sort" method = "post" style="text-align:center">
			<input type="submit" name="sortDateASC" value="Sort By Date (Upcoming)" /> ||
			<input type="submit" name="sortDateDESC" value="Sort By Date (Far off)" />
		</form>

		{% for event in events %}
		<div class="Events">
			<div class="events-left">
				<img class = "event_image" src="{{ url_for('static', filename='Images/' + event.filename) }}">
			</div>
			<div class="events-right">
				<a id="event-title" href="{{ url_for('get_event', e_id=event.event_id )}}">{{event.name}}</a>
				<p id="event-attending">Other people attending:
					{% for user in usersAttending %}
						
							<p>{{user.first_name}} {{user.last_name}}</p>
						
					{% endfor %}
				</p>
				<p id="event-date">Date: {{event.date}}</p>
				<p id="event-desc">Description: {{event.desc}}</p>
				<p id="event-user">Event Created By: <strong>{{event.user}}</strong></p>
				<p id="event-rating">Rating: {{event.rating}}</p>
			</div>	
		</div>
		{% endfor %}
	</main>

	<footer>
		<!-- Footer contents -->
		<div class="botnav">
			<!-- Footer navigation -->
			<nav class="nav-ul">
				<ul>
					<li><a href="{{url_for('index') }}">Home</a></li>
					<li><a href="{{url_for('my_events') }}">My Events</a></li>
					<li><a href="{{url_for('favorite_events') }}">Favorites</a></li>
					<li><a href="{{url_for('new_event') }}" >Create Event</a></li>
					{% if user%}
						<li>
							<a href = "{{url_for('logout') }}">Logout</a>
						</li>
						{%else%}
						<li><a href = "{{url_for('login') }}">Sign in</a></li>
						<li><a href = "{{url_for('register') }}">Register</a></li>
						{% endif%}
				</ul>
			</nav>
			<!-- Copyright -->
			<p id="copyright">&copy; Snowmen Gang 2021</p>
		</div>
	</footer>
	</div>
</body>
</html>
