<!DOCTYPE html>

<html lang="en">
<head>
	<title>Homepage</title>
	<!-- Meta tag for description -->
	<meta name="description" content="header and footer">
	<!-- Meta tag for author -->
	<meta name="author" content="Cyber Snowmen">
	<!-- Meta tag for character encoding -->
	<meta charset="utf-8">
	<!-- External Stylesheet -->
	<link rel="stylesheet" href="{{ url_for('static', filename='header_footer.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='EventInfo.css') }}">

</head>

<body>
	<div class="wrapper">
		<header><!-- Header contents -->
			<div class="topnav">
				<a href="#" class="page-title">Homepage</a>
				<!-- Header navigation -->
				<nav class="nav-ul">
					<ul class="nav-ul-center">
						<li><a href="/index">Home</a></li>
						<li><a href="/events/my_events">My Events</a></li><!--will need a link to the my_events page once made -->
						<li><a href="#">Favorites</a></li><!--will need a link to the my_events page once made -->
						<li><a href="/events/create" >Create Event</a></li>
						{% if user%}
						<li>
							<a href = "{{url_for('logout') }}">Logout</a>
						</li>
						{%else%}
						<li><a href = "{{url_for('login') }}">Sign in</a></li>
							<li><a href = "/register">Register</a></li>
						{% endif%}
	
					</ul>			
				</nav>
			</div>
		</header>		<!-- END HEADER - COPY FRIENDLY!-->

	<main>
		<h1>Welcome {% if user %}{{user}}{% endif %} to the 49er Events App!</h1>

        <h2>Use this site to create and RSVP to nearby events.</h2>
        <h1>
            <form method = "post">
                Search for event: <input type = "text" name = "event" />
                <input type = "submit" value = "Search" />
            </form>
        </h1>
		<!-- Event listing, implementation currently same as flask activity-->
		<h1>
			List of Events
		</h1>
		<table>
			<tr>
				<th>Event Name</th>
				<th>Event Date</th>
				<th>Event Description</th>
				<th>Created By</th>
				<th>Event Rating</th>
			</tr>
			{% for event in events %}
			<tr>
				<td>{{event.name}}</td>
				<td>{{event.date}}</td>
				<td>{{event.desc}}</td>
				<td>{{event.user}}</td>
				<td>{{event.rating}}</td>
			</tr>
			{% endfor %}
		</table>
	</main>

	<footer>
		<!-- Footer contents -->
		<div class="botnav">
			<!-- Footer navigation -->
			<nav class="nav-ul">
				<ul>
					<li><a href="/index">Home</a></li>
					<li><a href="/events/my_events">My Events
					<li><a href="#">Favorites</a></li>
					<li><a href="/events/create" >Create Event</a></li>
					<li><a href="/register" >Register</a></li>
					<li><a href="#" >User Login</a></li>
				</ul>
			</nav>
			<!-- Copyright -->
			<p id="copyright">&copy; Snowmen Gang 2021</p>
		</div>
	</footer>
	</div>
</body>
</html>
