<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="User login">
        <title>Login</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='Login.css') }}">
    </head>

    <body>
        <div class="wrapper">
            <header><!-- Header contents -->
                <div class="topnav">
                    <a href="#" class="page-title">Homepage</a>
                    <!-- Header navigation -->
                    <nav class="nav-ul">
                        <ul class="nav-ul-center">
                            <li><a href="/index">Home</a></li>
                            <li><a href="#">My Events</a></li><!--will need a link to the my_events page once made -->
                            <li><a href="#">Favorites</a></li><!--will need a link to the my_events page once made -->
                            <li><a href="/events/create" >Create Event</a></li>
                            {% if user%}
                            <li>
                                <a href = "{{url_for('logout') }}">Logout</a>
                            </li>
                            {%else%}
                            <li><a href = "#">Sign in</a></li>
                                <li><a href = "/register">Register</a></li>
                            {% endif%}
        
                        </ul>			
                    </nav>
                </div>
            </header>		<!-- END HEADER - COPY FRIENDLY!-->
        <form method="POST">
            First Name: <input type = "text" name = "f_name" placeholder="Your name"/>
            <br>
            Email: <input type = "text" name = "user_email" placeholder="Your email"/>
            <br>
            Password: <input type = "password" name = "user_password" />
            <p><input type="submit" value="Login"/></p>
        </form>

    </body>


</html>