<!DOCTYPE html>

<html lang="en">
<head>
	<title>Cyber Snowmen Header & Footer Template</title>
	<!-- Meta tag for description -->
	<meta name="description" content="header and footer">
	<!-- Meta tag for author -->
	<meta name="author" content="Cyber Snowmen">
	<!-- Meta tag for character encoding -->
	<meta charset="utf-8">
	<!-- External Stylesheet -->
	<link rel="stylesheet" href="{{ url_for('static', filename='header_footer.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='EventInfo.css') }}">
</head>

<body>
	<div class="wrapper">
		<header>
			<!-- Header contents -->
			<a href="#" class="page-title">My Events</a>
			<!-- Header navigation -->
			<div class="nav-right">
				<a href="{{url_for('index') }}">Home</a>
				<a href="{{url_for('my_events') }}">My Events</a>
				<a href="{{url_for('favorite_events') }}">Favorites</a>
				<a href="{{url_for('new_event') }}" >Create Event</a>
				{% if user%}
					<a href = "{{url_for('logout') }}">Logout</a>
				{%else%}
					<a href = "{{url_for('login') }}">Sign in</a>
					<a href = "{{url_for('register') }}">Register</a>
				{% endif%}	
			</div>
		</header>		<!-- END HEADER - COPY FRIENDLY!-->
	

	<main>
		{% with messages = get_flashed_messages() %}
  			{% if messages %}
    			{% for message in messages %}
      				<dialog open id="messages">
              			{{ message }}
                		<button onclick="window.messages.close();">Close</button>
          			</dialog>
    			{% endfor %}
  			{% endif %}
		{% endwith %}
		<h1>Created Events</h1>
        <br>
        {% for event in created_events %}
            <h2><a href="{{ url_for('get_event', e_id=event.event_id )}}">{{event.name}} Details</a></h2>
            <table>
                <tr>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Created by</th>
                    <th>Rating</th>
                    <th>Favorites</th>
                </tr>
                <tr>
                    <td>{{ event.desc }}</td>
                    <td>{{ event.date }}</td>
                    <td>{{ event.user }}</td>
                    <td>{{ event.rating }}</td>
                    <td>{{ event.favorites }}</td>
					<td>
						<form action = "{{ url_for('delete_event', event_id = event.event_id) }}" method = "post">
							<input type = "submit" value = "Delete">
						</form>
						<br>
						<form action = "{{ url_for('edit_event', event_id = event.event_id) }}" method = "post">
							<input type = "submit" value = "Edit">
						</form>
					</td>
                </tr>
            </table>
            <br>
        {% endfor %}

		<h1>RSVP Events</h1>
        <br>
        {% for event in rsvp_events %}
            <h2><a href="{{ url_for('get_event', e_id=event.event_id )}}">{{event.name}} Details</a></h2>
            <table>
                <tr>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Created by</th>
                    <th>Rating</th>
                    <th>Favorites</th>
                </tr>
                <tr>
                    <td>{{ event.desc }}</td>
                    <td>{{ event.date }}</td>
                    <td>{{ event.user }}</td>
                    <td>{{ event.rating }}</td>
                    <td>{{ event.favorites }}</td>
					<td>
						<form action = "{{ url_for('unRSVP', event_id = event.event_id) }}" method = "post">
							<input type = "submit" value = "Un-RSVP">
						</form>
						<br>
					</td>
                </tr>
            </table>
            <br>
        {% endfor %}
	</main>

	<footer>
		<!-- Footer contents -->
		<div class="botnav">
			<!-- Footer navigation -->
			<nav class="nav-ul">
				<ul>
					<li><a href="{{url_for('index') }}">Home</a></li>
					<li><a href="{{url_for('my_events') }}">My Events</a></li>
					<li><a href="{{url_for('favorite_events') }}">Favorites</a></li>
					<li><a href="{{url_for('new_event') }}" >Create Event</a></li>
					{% if user%}
						<li>
							<a href = "{{url_for('logout') }}">Logout</a>
						</li>
						{%else%}
						<li><a href = "{{url_for('login') }}">Sign in</a></li>
						<li><a href = "{{url_for('register') }}">Register</a></li>
						{% endif%}
				</ul>
			</nav>
			<!-- Copyright -->
			<p id="copyright">&copy; Snowmen Gang 2021</p>
		</div>
	</footer>
	</div>
</body>
</html>