<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="User registration">
        <title>Registration</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='Home.css') }}">


        <nav>

		<a href="/index"> Home </a> |
		<a href="/register"> Register</a>

	    </nav>
    </head>

    <body>
        <br>
        <h1>Register</h1>
        <h2>Enter account information</h2>
        <br>
        <form method="POST">
            Name: <input type = "text" name = "full_name" />
            <br>
            Email: <input type = "text" name = "user_email" />
            <br>
            Password: <input type = "password" name = "user_password" />
            <p><input type="submit" value="Register"/></p>
        </form>

    </body>


</html>